.container {
  background-color: black;
  color: rgb(61, 236, 85);
  border: 5px solid rgb(61, 236, 85);
  margin: 0px 50px;
  padding: 20px 70px;
  box-shadow: 0 0 30px 2px rgb(61, 236, 85);
}
.title {
  margin-bottom: 50px;
  font-size: 4rem;
  margin-top: 100px;
  font-family: "VT323", monospace;
  color: rgb(61, 236, 85);
  text-align: center;
  width: 320px;
}
.adjust{
  width: 390px;
}
.adjust2{
  width: 200px;
}
.typed_out {
  overflow: hidden;
  border-right: 0.15em solid rgb(61, 236, 85);
  white-space: nowrap;
  width: 0;
  animation: typing 1s forwards;
}
@keyframes typing {
  0% {
    width: 0;
  }
  5% {
    width: 0;
  }
  5.1% {
    width: 10%;
  }
  10% {
    width: 10%;
  }
  10.1% {
    width: 20%;
  }
  20% {
    width: 20%;
  }
  20.1% {
    width: 30%;
  }
  30% {
    width: 30%;
  }
  30.1% {
    width: 40%;
  }
  40% {
    width: 40%;
  }
  40.1% {
    width: 50%;
  }
  50% {
    width: 50%;
  }
  50.1% {
    width: 60%;
  }
  60% {
    width: 70%;
  }
  60.1% {
    width: 70%;
  }
  70% {
    width: 80%;
  }
  70.1% {
    width: 80%;
  }
  80% {
    width: 90%;
  }
  80.1% {
    width: 90%;
  }
  90% {
    width: 95%;
  }
  90.1% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

.background{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subtitle{
  font-size: 1.7rem;
}
p{
  font-size: 1.4rem;
}